*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
}
body{
    overflow-x: hidden;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    aspect-ratio: 13/6;
    margin: 1rem;
    border-radius: 1rem;
    background-color: lightblue;
    color:black;
    font-size: 4vw;
    box-shadow: -7px 11px 15px -6px rgba(66, 68, 90, 1);
    transform: translateX(400%);
    transition: transform .4s ease;
}
.title{
    font-size: 4vw;
    margin-top: 1rem;
}

.content:nth-of-type(even){
    transform: translateX(-400%);
}
.content.come{
    transform: translateX(0);
}